[2018-04-19 16:44] mradamcox opened #3 "Proposed Icons for Heritage Place, Heritage Feature, and Heritage Component"
It's kind of a conceptual approach, but I think this may be a nice way to show the hierarchy and relationship between these features.

![image](https://user-images.githubusercontent.com/10427268/39005858-eb7896c0-43c6-11e8-8d4b-2d71c280d41f.png)

[2018-04-19 18:12] mradamcox commented on #3
Note that above I am using `fa-square` for Heritage Place, but I think the better icon would actually be `fa-square-full`.
![image](https://user-images.githubusercontent.com/10427268/39010061-12cd6cbc-43d3-11e8-9beb-1769cad11f2f.png)
However, this doesn't seem to be available in the version of font awesome that we are currently using, so an upgrade would do well to accompany this ticket.

[2018-04-24 09:48] azerbini commented on #3
@mradamcox yes, agreed. Happy to port to the newest version of font-awesome.

[2018-04-26 14:59] #3 closed

[2018-04-26 20:01] mradamcox opened #10 "E24 Arch. Assessment Graph branching vs. desired form structure"
The relevant portion of the Archaeological Assessment resource types's graphs looks like this

![image](https://user-images.githubusercontent.com/10427268/39328437-04932f54-4961-11e8-87ea-7111f2a24633.png)

The desired structure of the form is to group the Function and Interpretation nodes (**B**) into a single *interpretation* section and place the time-span nodes (**C**) in a separate *timespan*

[2018-04-26 20:26] mradamcox opened #12 "Restructure E24 Modification form"
The E24 Modification form needs to be altered to look like this:

+ Type of Modification (Modification_Type.E55) & Date of Modification (Modification_Date.E49)
+ Modification Remarks (Modification_Description.E62)
+ Construction Material (Construction_Material.E57) & Construction Technique (Construction_Technique_Type.E55) & Note (Construction_Note.E62)

Waiting to hear the resolution to #10 as I

[2018-04-26 20:44] azerbini commented on #10
Hi Adam, I have encountered and solved this issue by calling the method `exclude_empty_branches` on form loads: https://github.com/azerbini/eamena_dev/blob/21e960c844a3f6a4d289cb9bc18e0423e1f6737d/eamena/eamena/models/forms.py#L68

this said, I think there is an error here in the E24 Interface doc, since I am pretty sure we had agreed among us that cultural periods and interpretations would be bou

[2018-04-26 21:27] mradamcox commented on #10
Ok. I see `exclude_empty_branches()` now, but it makes me wonder, wouldn't these empty branches affect the process of creating resource reports?

[2018-04-27 16:38] azerbini commented on #10
Hi @mradamcox, so I discussed this internally and as I thought we want all these fields to be grouped into one 'add' section. This includes Function, Interpretation, Cultural period and Period of occupation. Consequently, there won't be any need for you to use the exclude_empty_branches logic.

[2018-05-01 08:58] AzadehVafadari commented on #12
Hello both,

The way I had envisaged the Modification and Construction section to look like is to have three add groups/subsections: 1. Type and Date of Modification 2. Modification Remarks and 3. Construction Material, Technique and Note
Let me know if there's any problem with this and whether graph/form need to be modified...

[2018-05-01 09:25] azerbini commented on #12
No @AzadehVafadari, there shouldn't be any problem. @mradamcox, you can go ahead as planned for this form, whilst the Archaeological assessment form on the E24 should be all grouped into one 'Add'.
Thanks to both, a.

[2018-05-01 15:32] mradamcox commented on #10
Ok, just added a commit to the existing PR to address this.

[2018-05-01 15:34] azerbini commented on #10
Thank you Adam. I will be hoping to merge all this on Friday as I am currently in Egypt for our training.

[2018-05-02 17:42] mradamcox commented on #12
@AzadehVafadari, to clarify, each of these add groups are meant to be completely independent of each other? As far as I can tell, with the structure you have outlined one would be able to add (for example) multiple type/date groups as well as multiple modification remarks. However, the remarks would not be tied to any specific type/date group. The same goes for Construction Material, Technique, an

[2018-05-02 19:59] azerbini commented on #12
Adam, your interpretation is correct: each instance of each group would be independent from each other.

Sent from my iPhone

On 2 May 2018, at 19:42, mradamcox <notifications@github.com<mailto:notifications@github.com>> wrote:

@AzadehVafadari<https://github.com/AzadehVafadari>, to clarify, each of these add groups are meant to be completely independent of each other? As far as I can tell, with t

[2018-05-02 20:57] mradamcox commented on #12
ok, thanks!

[2018-05-03 07:11] AzadehVafadari commented on #12
Hi Adam, as Andrea said, each of the groups are independent. Remarks are general remarks/notes about any modifications (not for each added ones); Construction Materiel, Technique, and Note are also independent.

[2018-05-09 13:07] mradamcox opened #17 "Branch Structure in E24 Condition Assessment Form/Graph"
The desired structure for the E24 Condition Assessment form includes the following:

**Risk (STEP 2)**
+ Threat and Risk Identification (red below):
    1. Related Vulnerability Factors (Vulnerability_Type.E55)
    1. Exposure (Exposure.E62)
    1. Threat (Threat_Type.E55)
    1. Potential Impact (Potential_Impact_Type.E55)
    1. Secondary Threat (Secondary_Threat_Type.E55)
+ Risk Magnitude Asses

[2018-05-09 15:58] azerbini commented on #17
@mradamcox I don't think this will present major issues as all the nodes come off the same main merge node (Potential_state_prediction.xx1). Go ahead to try and implement this as by requirements, then we will troubleshoot if necessary. I think the `exclude_empty_branches` function should work here.

As for the RIKS_EVALUATION_ASSESSOR_NAME node, could you please put together an sql that changes th

[2018-05-10 10:51] azerbini commented on #17
@mradamcox actually Adam, you can use a tool in the migrate_resources.py package to rename nodes (I had forgotten that my colleague Andy had developed this). Please pull the latest commits on the eamena-migration-branch then check out this: https://github.com/azerbini/eamena_dev/blob/fdb3d80744490b0c222fdad9cac7a771a5f6e428/arches/management/commands/package_utils/migrate_resources.py#L385

The co

[2018-05-10 13:32] AzadehVafadari commented on #17
@mradamcox Hi Adam, they **are both part of the same add** (both risk identification and risk magnitude concepts).
And you are correct, exposure and vulnerability are part of the magnitude assessment process (hence coming from Evaluation.XX2 node.  But in the UI as we are identifying vulnerability and exposure (as oppose to evaluating probability/extent/severity) I categorized them separately.

[2018-05-10 13:39] AzadehVafadari commented on #17
bare with me; I'm trying to make a mock up!!!

[2018-05-10 13:54] AzadehVafadari commented on #17
[Risk Mock up.pdf](https://github.com/azerbini/eamena_dev/files/1991906/Risk.Mock.up.pdf)

[2018-05-10 13:55] AzadehVafadari commented on #17
Not sure how to add/paste an image here. Can you open it?

[2018-05-10 14:06] AzadehVafadari commented on #17
If in the UI we change the name "Risk Magnitude Assessment" to "Risk Assessment", then we can include the Exposure and Vulnerability fields:

Threat and Risk Identification
- Threat (Threat_Type.E55)
- Potential Impact (Potential_Impact_Type.E55)
- Secondary Threat (Secondary_Threat_Type.E55)

Risk Assessment
- Related Vulnerability Factors (Vulnerability_Type.E55)
- Exposure (Exposure.E62)
- Prob

[2018-05-10 15:40] azerbini commented on #17
@AzadehVafadari , I can open the pdf just fine. To display an image ina  comment, just drag&drop a jpg/img/png on the comment box.

Thank you for clarifying how the forms will work. I am sure @mradamcox will be able to take it from here.

[2018-05-10 20:15] mradamcox commented on #12
This should be resolved, but can remain open until the datetime_to_date_nodes() comment here https://github.com/azerbini/eamena_dev/pull/14 is addressed.

[2018-05-10 20:21] mradamcox commented on #17
Hey @AzadehVafadari, the mockup clears everything up for me. I thought they were different sections under different "Add" groups. Thanks!

[2018-05-10 20:34] mradamcox commented on #17
I'm thinking now that I also have the step 1 wrong too. Should "Damage Overall Severity" and "Damage Overall Extent" be grouped with the "Disturbances" content? I'm thinking yes.
![image](https://user-images.githubusercontent.com/10427268/39892824-7fee7026-5467-11e8-94c5-92a72e674f16.png)

[2018-05-10 20:53] azerbini commented on #17
I’ll let Azadeh reply to this, but a quick comment on the 4 dates: they shouldn’t all be visible at the same time, but appear depending on what the Date Type toggle shows. You can take the code for this from condition-assessment.js and condition-assessment.htm.

Sent from my iPhone

On 10 May 2018, at 21:34, mradamcox <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm thinking

[2018-05-11 08:50] AzadehVafadari commented on #17
@mradamcox No! It is correct!
A note to explain: at E24 level when assessing a feature (site elements, structures, etc) as a whole, different [cause/damage/trend] are identified but then we assess the overall severity and extent of damage for the whole feature. So as you've coded it, separate Adds are needed.
But for B2, severity and extent should be grouped with cause/damage/trend as at this leve

[2018-05-11 08:59] AzadehVafadari commented on #17
@mradamcox can I ask you to change couple of things in Step 1:
can you
1. change "Cause Category" to just  "Category" (or "Disturbance Category")
2. change the order as follows: first "Effect/Damage", then "Damage Trend" then we have "Category", "Cause", "Cause Certainty" and "Date"
(main difference between field and remote assessment: in the remote assessment (E27) usually the assessor knows the

[2018-05-11 13:10] azerbini opened #19 "Validation of branches must allow nodes to be left empty"
Not all nodes in a branch will be required. I have pushed a new commit (a9af471) which slightly alters validateHasValues allowing it to accept a second argument, canBeEmpty, an array which contains optional nodes passed at the level of each form's addBranchList(). Please use this validation strategy across the new E24 and B2 forms ( I have applied it to several E27 forms, as the latest commit 3a94

[2018-05-11 13:17] mradamcox commented on #19
@azerbini This operation was already available in the new validation tools that I added here https://github.com/azerbini/eamena_dev/pull/6. Once you have instantiated a ValidationTools object in a form's js, you can call it like this https://github.com/azerbini/eamena_dev/pull/6/commits/30cfe8d572e1b84598096a84df04d883247dd589#diff-b5fe86904e943448ddfa9b5b4c63e72dL44.

[2018-05-11 13:20] azerbini commented on #19
@mradamcox  Let's speak on the phone cause I don't see anything at line 44 that would work like the new validateHasValues

[2018-05-11 13:24] mradamcox commented on #19
Yes, that's just a general example of using the ValidationTools, the function I was referring to is called nodesHaveValues and is described in the body of the pull request. The code for it is here: https://github.com/azerbini/eamena_dev/pull/6/commits/30cfe8d572e1b84598096a84df04d883247dd589#diff-154300c822ad06334623cc3995120d28R70

[2018-05-11 13:32] azerbini commented on #19
Ah I see now. We should then remove validateHasValues from branch-lists.js altogether and replace it with your new nodesHaveValues, though of course this would mean changing a ton of other javascripts.

[2018-05-11 13:40] mradamcox commented on #19
That makes sense to me.

[2018-05-11 13:44] mradamcox commented on #19
It would be good to centralize ALL branch validation functions into validation.js. nodesHaveValues could be slightly modified to accept "all" as an argument which would check all nodes in the branchlist, not just specific ones. Or perhaps that would be the behavior if no nodes to check were passed in.

[2018-05-11 14:06] azerbini commented on #19
I think nodesHaveValues needs to look exactly like validateHasValues looks like right now.

[2018-05-16 22:57] mradamcox commented on #17
More issues with this form and branch. I believe it stems from the way the graphs are constructed vs. the desired node groupings. The example below is the E24 graph, where DAMAGE_STATE.E3 is the highest node up the graph (right underneath CONDITION_ASSESSMENT.E14) and includes all of the nodes that need to be updated (circled).
![image](https://user-images.githubusercontent.com/10427268/40147629-1

[2018-05-17 06:51] azerbini commented on #17
Hi Adam, please package your changes to forms.py and the UI in a PR and I will take it from there. Please note I have pushed a commit to forms.py yesterday, so please merge that at your end before pushing.

Sent from my iPhone

On 16 May 2018, at 23:57, mradamcox <notifications@github.com<mailto:notifications@github.com>> wrote:

More issues with this form and branch. I believe it stems from the w

[2018-05-21 11:56] azerbini commented on #17
00a9ac8 addresses and fixes these issues

[2018-05-21 11:56] #17 closed

[2018-05-21 12:00] azerbini commented on #12
Addressed here c07022a228c588e40684838f2994f940599823e6

[2018-05-21 16:41] azerbini opened #21 "E24 instances fail to index"
When saving a Heritage Feature, ES throws this exception:

`TransportError(400, u'MapperParsingException[failed to parse [nested_entity.child_entities.child_entities.child_entities.child_entities.child_entities.label]]; nested: MapperParsingException[failed to parse date field [], tried both date format [dateOptionalTime], and timestamp number with locale []]; nested: IllegalArgumentException[Inva

[2018-05-22 10:17] azerbini commented on #21
Reindexing fixed this.

[2018-05-22 10:17] #21 closed

[2018-05-25 13:13] mradamcox opened #24 "HerBridge - JSON endpoint to return resources"
We need to add a JSON endpoint that will return the nearest 10 resources when given a lat/long coordinate.

[2018-05-25 13:14] mradamcox opened #25 "HerBridge - JSON endpoint to create new information resource"
We need to add an endpoint that will receive JSON and create an information resource from it.

[2018-05-25 13:16] mradamcox opened #26 "HerBridge - A JSON endpoint to upload an image"
We need to make an endpoint that will upload an image (or vend a pre-signed S3 upload URL).

[2018-05-25 13:22] azerbini opened #27 "Implement bulk data upload views"
This issue elaborates on:  https://github.com/azerbini/eamena_v3/issues/80

The desired outcome is to allow users to test bulk upload spreadsheets (testing is handled by this class: https://github.com/azerbini/eamena_dev/blob/eamena-migration-branch/arches/management/commands/Excelreader.py) and bulk load data without having to learn how to use shell commands.

Features:

1) A link to a bulk data

[2018-05-26 09:54] azerbini opened #28 "Prevent RDM from letting you nest a dropdown instance of a concept within itself"
Currently, the RDM will let you add a concept as a child dropdown entry of itself. This,however, creates a circularity problem and breaks the RDM and the rest of the app.

[2018-05-27 20:44] #28 closed

[2018-05-29 21:01] mradamcox commented on #27
@azerbini I'm working on this but my first test of the Excelreader class failed with an exception, and I see now that there is no logging in that class, only exceptions. I thought that the desired workflow was for a user to test a spreadsheet and get a read out of all errors in it so these can be corrected. However, I'm not sure how to do that if the Excelreader command fails and exits when it enc

[2018-05-29 22:29] azerbini commented on #27
You are using the command correctly, @mradamcox . Excelreader performs various checks on the spreadsheet:
1) checks the headings exist as db nodes
2) checks the number of rows is the same across all tabs
3) checks the number of semicolon separated values is the same in each row of each tab except for the NOT tab
4) checks that there are no empty cells in the sequence.

Once these first checks are

[2018-05-30 18:36] mradamcox commented on #27
Ok, in that case, to get this working I will need to do quite a bit of work on the Excelreader command. As it is, there is no output from that command that could be passed to a view as described in this ticket.

[2018-05-30 20:09] azerbini commented on #27
Sure, that sounds good. I can also jump in on this since I have written Excelreader from scratch and can easily work in the logging. I mean, all you need really is to store the errors created by the various exceptions into a dictionary and then return that to the view for parsing in Javascript.

________________________________
From: mradamcox <notifications@github.com>
Sent: 30 May 2018 19:36:20

[2018-05-30 20:14] mradamcox commented on #27
Yeah, I've done it by adding a new logger using `logging`. I'll push just those changes ASAP so you can see them. I think using the logger like this will be the easiest way to handle this. Then the view can access the same log after the command has been run and push its contents whereever they are needed.

[2018-05-30 20:46] mradamcox commented on #27
Ok I have added a new branch here called ` EAMENA-27-bulk-upload-view`, and the only commit I have put on it so far holds the changes I made to create a logger and write the error messages to it that you have put in the exceptions. If you can improve the print out and put that into the logger as well, that would be great. I'm getting the logger in the new view, and that's how its contents can be d

[2018-05-30 20:47] mradamcox commented on #27
I think it would be best if you can just put new commits on that branch for now (without merging it in to master).

[2018-06-01 19:56] mradamcox commented on #27
@azerbini the above commits add the new page and all functionality up to the point where we need more information from the Excelreader command before moving on.

So far I have just been testing with the template spreadsheet that you passed along for E27 resources.

Specifically, these are what I see as next steps:

1. The SiteDataset() method needs to return a more unified set of messages, as well

[2018-06-04 12:59] azerbini commented on #27
@mradamcox Working on this now. One other element to add here is the SiteDataset() flag `append` which the user should be allowed to pass from the view, right after passing the Resource Type. So I would add a step after your 2. Choose Resource Type called 3. Upload Type which would have two options: 1) New data 2) Append to existing.

[2018-06-04 13:32] mradamcox commented on #27
Ok great. What would you say about combining it with 2? Then the header
could be something like "configure import". This would keep the number of
steps down which I always think is helpful.

On Mon, Jun 4, 2018, 7:59 AM Andrea Zerbini <notifications@github.com>
wrote:

[2018-06-04 14:18] azerbini commented on #27
Yep great idea!

[2018-06-04 14:24] mradamcox commented on #27
Cool, I'll add this when I pick the ticket back up, after some of the Excelreader additions are made as described above.

[2018-06-04 18:03] azerbini commented on #27
Okay @mradamcox  I have done a first iteration of the logging on Excelreader (see this commit : 4d97a3d). I have done this in haste and haven't tested this yet at all but perhaps this will give you enough to get on with the view.

[2018-06-05 21:33] mradamcox commented on #27
We should also fix the handling of file paths so that only the file name is ever passed via ajax, not the full file path. The BULK_UPLOAD_DIR setting can be used in views.py to complete the full path.

[2018-06-06 17:42] azerbini opened #29 "Create workflow to bulk upload appended files"
This enhancement should build on #27  and incorporate a way for people to upload data appended to an E73 Information Resource bulk upload file. At the moment, only the metadata can be bulk uploaded, but not the actual files (imagery, pdfs etc.).

_Proposal_
An extra step in the Bulk upload view workflow  becomes available if the user selects 'Information Resource' as a resource type, and allows th

[2018-06-12 18:37] mradamcox commented on #29
Per our discussion last Friday I'm going to remove my assignment to this issue at this time.

[2018-06-13 22:03] mradamcox commented on #27
@azerbini Please see the new commits I have put on the `EAMENA-27-bulk-upload-view` branch. The entire workflow is fully functional for me locally. So far I have only tested it with a subset of one of the spreadsheets you sent me (below), as the larger files took far too long to validate and load.

[E36N34-12-trunc5.xlsx](https://github.com/azerbini/eamena_dev/files/2100122/E36N34-12-trunc5.xlsx)

[2018-06-14 14:21] azerbini opened #31 "Backport fuzzy/BCE date implementation from Arches v.4 to v.3"
_Problem_

For archaeological time spans, we need to be able to implement a date object that allows us to encompass fuzzy as well as negative (i.e. BC) dates. This is to address:
https://github.com/azerbini/eamena_v3/issues/39

_Solution_

A solution would be to backport Arches v.4 solution for this issue, discussed here: https://github.com/archesproject/arches/issues/2337

[2018-06-14 14:36] azerbini commented on #27
Excellent, I will try to look into this tonight. Given how long it takes to test and load bulk data files, I was wondering whether we could include a status bar in the view? How hard do you think it would be?

________________________________
From: mradamcox <notifications@github.com>
Sent: 13 June 2018 23:03:52
To: azerbini/eamena_dev
Cc: Andrea Zerbini; Mention
Subject: Re: [azerbini/eamena_dev]

[2018-06-20 14:03] mradamcox commented on #27
@azerbini I believe that would require some pretty serious retooling of those functions (the Excelreader and load command). We would probably have to add a component to each one that does a quick analysis and estimates the length of the import process, and then reports that back to the javascript before actually beginning.

[2018-06-20 16:09] mradamcox commented on #31
@azerbini I'm afraid that the v4 implementation can't be backported to v3 very easily, because it depends on some internal structures (DataTypes and Widgets) that aren't present in v3. I'm looking into using the fuzzy date implementation that @coherit put together, https://github.com/coherit/edtf-arches-hip.

[2018-06-21 08:04] azerbini opened #32 "Resource exports fail for large datasets (>1000 resources)"
Exporting to csv, shp, json fails when large datasets are being exported.

[2018-06-21 08:19] azerbini commented on #31
Thanks Adam. An essential requirement for us would be to support negative (BCE) dates. I wonder whether we shouldn’t use Astropy instead? http://docs.astropy.org/en/stable/index.html

[2018-06-21 20:44] mradamcox commented on #31
Astropy looks promising, but unfortunately it only works with python 3.5 and 3.6 http://docs.astropy.org/en/stable/install.html.

Still working on this though. It's a multi-faceted challenge as the dates need to be parsed in js, python and properly stored in elasticsearch. I'm thinking ES may be the biggest obstacle...

[2018-06-25 15:11] TeriForey commented on #32
Hi @azerbini I'm having trouble recreating this error. With ~1300 resources, I was able to export to json. With ~1500 I saw a low memory error but I think that is entirely due to the system I'm running EAMENA on. I might be unable to recreate the export error as my resources are extremely simple (I've been importing a very simple information resource repeatedly to get the resources numbers up). Wo

[2018-06-26 22:20] mradamcox commented on #31
Ok, I've done a ton of work on this, following off of the @coherit work, and what I have will work as follows:

+ we'll need to add new nodes to hold the extended dates (@azerbini said this would be acceptable)
    for these nodes, the business table name must be `string`
+ these nodes will have a free text input in the forms, and valid date values will be
    `YYYY-MM-DD` as before, `YYYY-MM`, or

[2018-06-27 05:21] azerbini commented on #31
Hi Adam,

Terrific work. What we will do is actually covert the Archaeological date nodes to string nodes, rather than creating new nodes.

[2018-06-27 15:52] mradamcox commented on #31
Ok, I'm thinking these two nodes: `ARCHAEOLOGICAL_FROM_DATE.E61` and `ARCHAEOLOGICAL_TO_DATE.E61`

Will there be existing data stored in these nodes that will need to be migrated?

[2018-06-27 15:55] azerbini commented on #31
No, those nodes don’t have any prior data. We are starting anew with those.

Sent from my iPhone

On 27 Jun 2018, at 18:53, mradamcox <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok, I'm thinking these two nodes: ARCHAEOLOGICAL_FROM_DATE.E61 and ARCHAEOLOGICAL_TO_DATE.E61

Will there be existing data stored in these nodes that will need to be migrated?

—
You are receiving t

[2018-06-27 22:58] mradamcox commented on #31
As I'm incorporating this work into EAMENA, it seems to me like the time filter is not added to search when multiple search terms are being entered. Is that correct?

I'm referring to the aggregated searches that you can create by enabling this button
![image](https://user-images.githubusercontent.com/10427268/42004169-4e24f48c-7a34-11e8-982f-21027ab694bc.png)

[2018-06-28 05:08] azerbini commented on #31
No that is not correct. The time filter can be activated by clicking on the clock next to the search box. Is it not working for you?

Sent from my iPhone

On 28 Jun 2018, at 01:58, mradamcox <notifications@github.com<mailto:notifications@github.com>> wrote:

As I'm incorporating this work into EAMENA, it seems to me like the time filter is not added to search when multiple search terms are being e

[2018-06-28 05:13] azerbini commented on #32
Hi Teri, I have sent you a much larger dump now. Let me know how work progresses on this. Cheers

[2018-06-28 14:45] azerbini commented on #31
The ‘aggregated’ searches are the advanced search toolkit. Each set of searching has a time filter component which, if triggered, activates the time filter within that search context

[2018-06-28 17:26] mradamcox commented on #31
It works on the front-end but I wasn't seeing any new content in the time filter parameter of the request. However, I think I need to go back and look at how it was originally implemented before I made modifications to accommodate the new extended dates. Thanks for the response.

[2018-06-29 09:54] TeriForey commented on #32
Hi Andrea, this appears to be a Java memory problem ( `TransportError(500, u'OutOfMemoryError[Java heap space]')` is output to the log).

Depending on the system you're running on it could be fixed by exporting `ES_HEAP_SIZE` before starting elastic search. It's recommended to not set this higher than 32GB or more than 50% of the available RAM (see [the elasticsearch guide](https://www.elastic.co/

[2018-06-29 11:07] azerbini commented on #32
Hi Teri,

The heap size is set pretty high on our production machine, and the search still fails. Please do try to use scroll to break up the search into sections.

Cheers

________________________________
From: Teri Forey <notifications@github.com>
Sent: 29 June 2018 10:54:05
To: azerbini/eamena_dev
Cc: Andrea Zerbini; Mention
Subject: Re: [azerbini/eamena_dev] Resource exports fail for large dat

[2018-06-29 15:41] mradamcox commented on #31
Alright, after looking back at the original configuration I found what I had lost and fixed things up to re-enabled the multiple time filters. It's still easy to get strange results by combining multiple start/end dates with the slider within a single time filter, but that is really more of a front-end and overall design consideration than it is related to this extended date effort.

[2018-07-03 14:54] TeriForey commented on #32
I've added a pull request which should fix this issue. I still have issues with memory when trying to serialize a large number of resources (but I'm running eamena on a small system) so let me know if you see that too and I'll see if I can break the json/csv etc writes into chunks.

[2018-07-04 10:12] azerbini commented on #27
025b0ff adds a couple of bug fixes to this. I am getting ready to merge this branch into the main migration branch. However, @mradamcox , I am wondering if we could do one last extension of this code to try and include streaming of the validate_concept test. I am looking into adding an xhr callback to the ajax call and then implement something like this (though of course with a python backend): ht

[2018-07-05 09:04] TeriForey commented on #29
Hi Andrea, just to check:
1. There would only be one file uploaded per resource
2. We want to create the resources using the server-side archesfile as the bulk_upload currently works
3. We then want to edit each existing resource, adding the local file which is simultaneously uploaded to S3 (plus a thumbnail version). This would essentially use the same process as editing a resource on the resourc

[2018-07-05 11:57] azerbini commented on #29
Hi Teri,

That is exactly how it should work. Please go ahead with designing this workflow. Please note that all the code for the bulk upload workflow currently resides on the EAMENA-27-bulk-upload-view branch.

________________________________
From: Teri Forey <notifications@github.com>
Sent: 05 July 2018 10:04:25
To: azerbini/eamena_dev
Cc: Andrea Zerbini; Assign
Subject: Re: [azerbini/eamena_de

[2018-07-05 13:58] AzadehVafadari opened #35 "Missing fields from E24"
2 fields are missing from E24:

**1. Secondary Threat** (Secondary_Threat_Type.E55) is missing from Step 2 Risk, threat and risk identification (in Branch structure E24 condition assessment issue, may 10th I had mentioned: Threat and Risk Identification should include
Threat (Threat_Type.E55)
Potential Impact (Potential_Impact_Type.E55)
**Secondary Threat (Secondary_Threat_Type.E55)**

**2. Featur

[2018-07-05 14:01] AzadehVafadari opened #36 "Moving "Modification and Construction" tab"
Would it be possible to move "Modification and Construction" tab up after "Archaeological Assessment"?

![image](https://user-images.githubusercontent.com/38878992/42327667-eec998ac-8074-11e8-817a-eea90012da66.png)

[2018-07-06 22:14] mradamcox commented on #27
Hey @azerbini , I've been looking around and I actually think we would do well to integrate Celery into the app to handle this. It's the most popular python task-queuing library (as far as I know), and there are lots of examples of integrations with django. For some starting points: https://www.dangtrinh.com/2013/07/django-celery-display-progress-bar-of.html, https://stackoverflow.com/questions/73

[2018-07-09 09:19] TeriForey commented on #29
Hi Andrea,

As you can see I've added a pull request which should fix this issue. It involves quite a few changes to other processes, including outputing new information from the load_resources command. Most of the javascript works well, the option to select a folder to upload only becomes available if it's an information resource and the validation step sees attached files. Unfortunately the init

[2018-07-09 20:25] mradamcox commented on #35
Hey @AzadehVafadari,

1. @azerbini finished this work up as I continued to have trouble managing the branching structure of the graph. I was just checking it out, and that node input does appear in the code, but is commented out, so there may be more to the story
2. I see Current Use in the Feature Interface sheet you mentioned, but it is not present in the E24 graph/ontology, so I didn't add it i

[2018-07-10 15:15] mradamcox commented on #27
Alright, I'd like to wait on the Celery integration until @TeriForey 's PR #37 is merged, as it will likely sit on top of some of the things she has been working on.

[2018-07-10 15:39] azerbini commented on #27
Yes, agreed. We do need streaming for this since it just takes far too long for some of these operations to complete and the user is just likely to think an error has occurred unless a progress is given.

Adam, I think it would be useful for the validate_concepts test to report back every time a new node is being evaluated (basically output to the front end the command that currently prints header

[2018-07-10 16:00] mradamcox commented on #27
Ok, sounds good. I think that once we're able to get a basic example [like this](https://djangosnippets.org/snippets/2898/) working, we'll be able to do everything we need. I do expect that we'll need to modify the Excelreader command a bit.

[2018-07-12 22:52] mradamcox commented on #31
Ah, I'm seeing now that https://github.com/azerbini/eamena_v3/issues/70 would actually enhance the date filter, and would be a good companion to this effort. Once this PR has been merged, it may be wise to put forth a single effort to handle issue 70 from the v3 repo.

[2018-07-13 12:32] azerbini commented on #24
@mradamcox We need to decide exactly what we are returning. I am inclined to exploit the pre-existing maplayers ES index at this stage, and re-use most of the logic for the Arches map filter (when using a buffer). The HerBridge user would then need to select the extent of the buffer around a given report's lat/long, and depending on that a number of Eamena resources will be displayed

[2018-07-13 15:01] mradamcox commented on #24
I think that sounds reasonable. In fact, from the HerBridge perspective it may be better for this endpoint to return resources within a distance (as in the map buffer), instead of only the 10 closest. In a very resource-dense area, the 10 closest may be ineffective (as the 11th closest may be just as close as the 10th) but in a very resource-sparse area, the 10th closest resource could be many, ma

[2018-07-13 15:17] mradamcox commented on #24
After speaking with Soroush and Andres, it sounds like we're not 100% sure that images would be coming _from_ EAMENA along with the resources, so perhaps that's less of a concern.

[2018-07-17 14:21] azerbini opened #38 "Create alert if a resource is created in the same location as a pre-existing resource of the same type"
https://github.com/azerbini/eamena_v3/issues/96

The point of this enhancement is to make sure that resources of the same type are not duplicated by means of human error (people adding the same thing twice). When a user saves a new resource in a certain location, we would want the app to interrogate the database and make sure that instances of the same resource type do not exist already within the

[2018-07-19 08:05] TeriForey commented on #38
Hi Andrea, I just wanted to ask a couple of questions now that I've started making progress on this issue:
1. I presume I should use the eamena_migration_branch as the base?
2. What do you want me to do with the returned JSON? At the moment I'm sending the number of nearby resources to a message.
3. How large a radius are you likely to use? i.e. should it be measured in meters or km?
4. At the mom

[2018-07-20 09:45] TeriForey commented on #38
Pull request deals with the above questions by:
1. It's based on the eamena-migration-branch
2. It's just printed to the terminal so you can see the results easily to create the alert
3. Measured in meters, then converted to decimal degrees based on the target latitude
4. Using dwithin which is much faster. Process is now slowed down only if a large number of resources are returned (i.e. using a l

[2018-07-20 10:30] azerbini commented on #38
Hi Teri,

1) yes
2) JSON should include: resource primary name and uuid of each resource within the radius. Return the json to the forms.py load method and I will take it from there
3) metres
4) perhaps it would be worth querying the ES index instead as that will be faster.

Sent from my iPhone

On 19 Jul 2018, at 09:05, Teri Forey <notifications@github.com<mailto:notifications@github.com>> wrote:

[2018-07-23 10:42] TeriForey commented on #38
Hi Andrea, if you want the results passed to the forms.py load method, does that mean you want the function to run every time the form is viewed? I've currently set it up to run during the POST request, after the form.update method and before the resource is saved - would you rather I move it to the GET request view?

[2018-07-23 14:29] azerbini commented on #38
@TeriForey , we want the function to run every time a POST request involves the **addition** or  **change** of the inspected node types (in our case, the geometry nodes). When this occurs, and if the query returns results, then the POST should not lead to any saving of new resources, but rather return JSON back to forms load, so that I can take the JSON to populate the alert when the form is reloa

[2018-07-23 14:56] TeriForey commented on #38
@azerbini Thank you, I think I follow what you'd like me to do. I'll have another go and update the PR.

I was originally using `distance_lte` to find nearby resources but that took ~21 seconds to search through the 324000 Geometry models in my database. Using `dwithin` takes ~0.07 seconds, which is what I have in the PR.

[2018-07-27 14:24] TeriForey commented on #38
@azerbini I've updated the PR. There are now two new items passed to the form when it's reloaded, `alert` which contains the JSON information on nearby/preexisting resources and `submitted_data` which contains the originally submitted changes that were not saved to the resource.

[2018-07-31 14:28] AzadehVafadari commented on #35
Hi @mradamcox realized I hadn't replied here.
Current Use is in the graph. Under production branch
![image](https://user-images.githubusercontent.com/38878992/43465871-f6955c0c-94e6-11e8-9e92-82fc1d618619.png)

can you add it here in Resource Summary?  or does it have to be under modification and construction?

[2018-08-21 10:27] AzadehVafadari opened #41 "Few mainly text/wording changes in the UI - as a result of a meeting with EAMENA team"
Based on the meeting with the team (to finalize the vocabulary and drop-down lists), the following points were identified as mainly texts that need to be changed/altered in the UI:

1.  In all tabs, change _"on behalf of"_ to "_**identified by"**_; team felt that "on behalf of" might be a bit misleading. by using "identified by" it will make it clearer that the xx assessment was identified and don

[2018-09-03 14:38] mradamcox commented on #29
@TeriForey I'm going to close this now as I just merged the PR. I didn't see the issue with the upload js, but I'm sure we can fix that down the road. Just wanted to move this along for right now. @azerbini Please reopen this ticket if you'd like to address that before closing.

[2018-09-03 14:38] #29 closed

[2018-09-03 16:36] mradamcox commented on #27
@azerbini and @TeriForey, after finally getting to working more with celery last week and today, I've encountered a few issues:

First, celery requires third-party software on the server to act as a message broker, something like RabbitMQ. While this can be setup and installed pretty easily, it does put more responsibility on the sys admin, and would increase the effort needed to deploy a new inst

[2018-09-12 11:44] azerbini commented on #27
@mradamcox , whilst I am on board with the idea of breaking up the validation, I am not sure how you'd go about it, particularly when it comes to validating concept values. Also, we would need to break up the actual data upload too, since that too can be a very lengthy process if many records (or highly enhanced records, or a combination of the two) are being loaded.

Perhaps one viable option wou

[2018-09-12 12:17] azerbini commented on #41
@AzadehVafadari I have now addressed all of these except for point 6. Adding risk requires changes to the resource graph, something we are unable to do at this stage of development. We should put this on the backburner until we move to v4.

[2018-09-12 16:05] azerbini commented on #35
@AzadehVafadari, 9984bba introduces Current Use. However Secondary Threat is causing problems. There appears to be a conflict between Threat Type and Secondary Threat Type, possibly due to the graph structure. I don't think it is a high priority to reintroduce Secondary Threat, so I will leave this as is for now.

[2018-09-12 16:36] azerbini commented on #38
Hi @TeriForey , please see comments to #42 as the code in #39 is not currently working as expected.

[2018-09-12 18:45] azerbini commented on #32
@TeriForey please see comments to PR #34

[2018-09-12 18:53] mradamcox commented on #27
Ok, I'm going to go down this route then, beginning with splitting up the validation functions as best I can.

[2018-09-13 07:06] AzadehVafadari commented on #35
Thanks Andrea. Can I do anything to fix the problem with the graph structure? Would be good to keep this feature! But if we think it’s not a priority now, is there a list where we keep track of “unsolved issues” for Mike and you all to try to fix after the first launch? Thanks

[2018-09-13 07:15] AzadehVafadari commented on #41
Thanks. Makes sense.

[2018-09-13 08:11] azerbini commented on #35
Azadeh, this issue will stay open until eventually we fix it.

Sent from my iPhone

On 13 Sep 2018, at 08:07, AzadehVafadari <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks Andrea. Can I do anything to fix the problem with the graph structure? Would be good to keep this feature! But if we think it’s not a priority now, is there a list where we keep track of “unsolved iss

[2018-09-14 09:34] #41 closed

[2018-09-14 10:30] azerbini opened #44 "Change EAMENA_ID identifier to IDHA"
Replace standard EAMENA_ID.E42 identifier (EAMENA) with IDHA.

[2018-09-14 10:34] azerbini opened #45 "Add UTM support to coordinate selector in Location tab"
![screen shot 2018-09-14 at 11 32 18](https://user-images.githubusercontent.com/19243127/45545380-fd64da00-b811-11e8-9164-25efd9164239.png)

Add a CRS dropdown switch to coordinate selector on Location tab which allows the user to select either decimal degrees or UTM.

[2018-09-14 10:45] azerbini opened #46 "Change default basemap to Google Maps"
Al Ula region is better covered by Google Maps, so defaulting to this would be preferable for this deployment

[2018-09-14 10:45] TeriForey commented on #32
@azerbini When exporting to JSON, instead of exporting the ElasticSearch results, the resource ID's are taken and each resource is pulled out from the database (including all child resources). This happens in arches/app/utils/data_management/resources/formats/archesjson.py line 41.
[code]
From my profiling it's clear that this is the bottleneck that's slowing everything down and thus causing timeo

[2018-09-14 11:40] #44 closed

[2018-09-14 11:56] #46 closed

[2018-09-14 12:28] azerbini opened #47 "Restrict app-wide access to editors only"
Restrict app-wide access to editors only. No view is accessible to anonymous or read-only users.

[2018-09-14 12:36] #47 closed

[2018-09-24 20:00] azerbini commented on #27
I am now closing this issue. I will be opening a new ticket requesting an enhancement on the bulk upload interface regarding breaking up the load_resources operation.

[2018-09-24 20:00] #27 closed

[2018-09-25 17:02] azerbini opened #49 "Bulk upload target should be switched to S3 storage rather than server-side"
**Problem**

At present, bulk upload Excel files loaded via the Bulk Upload views are saved server-side. However, the EC2 instance on which Al Ula runs should not be used for static files as a rule.

**Solution**

Bulk upload data target should be moved to S3 storage by changing settings.BULK_UPLOAD_DIR

[2018-09-25 19:39] mradamcox opened #50 "Properly handle `x` values in Excelreader for all data types"
### User Story
Currently, excelreader validation fails on date values that are recorded as `x`. These values *are* valid, they just need to be skipped and interpreted as empty. In fact, for nodes of any business table type, `x` just means "empty", not only for concept data types, which was the assumption in the latest revision of the validation code.

This change also needs to also be reflected in

[2018-09-25 20:07] mradamcox commented on #50
This should be solved now and can be tested in the published al ula instance.

[2018-09-26 06:37] azerbini commented on #50
Actually @mradamcox , this is still not working
<img width="1051" alt="screen shot 2018-09-26 at 09 36 31" src="https://user-images.githubusercontent.com/19243127/46061545-b8289c80-c16f-11e8-88dc-523d52f19419.png">

[2018-09-26 15:15] mradamcox commented on #50
oh, I see what's going on now, the values aren't properly split during this validation operation. I'll push a fix momentarily.

[2018-09-27 10:29] pascalflohr opened #52 "Numbering sequence of rows in bulk upload validation is incorrect"
@mradamcox
### Bug Report
Bulk upload validation returns the right error but refers to the wrong row and column.

![](https://files.slack.com/files-pri/T8CLY0DML-FD1GXN70U/screen_shot_2018-09-26_at_19.56.26.png)
<img width="674" alt="screen shot 2018-09-26 at 19 56 26" src="https://user-images.githubusercontent.com/43570914/46140231-69026a80-c248-11e8-8380-8e7702858d69.png">

In the screenshot att

[2018-09-28 09:48] pascalflohr opened #53 "Bulk upload: Concept fail is not flagged up until arches file writing"
### Bug Report
The EFFECT_TYPE.I4 concept "Collapse/Structural Damage" was written wrong as "Structural Damage/Collapse". However the file got through the validation process and this was only flagged up in the write_arches_file stage (screenshot).

<img width="576" alt="screen shot 2018-09-28 at 10 41 31" src="https://user-images.githubusercontent.com/43570914/46201333-c01d4380-c30b-11e8-912e-817c

[2018-09-28 13:39] pascalflohr commented on #52
Also the case in FeatureGroup and InterprGroup, actual row is 2 down (so when row 36 is indicated, the error is actually present in row 38).

[2018-09-28 17:44] mradamcox commented on #50
https://github.com/azerbini/eamena_dev/commit/b89a80bd9a33ec373849d3c1a6749cb47fff3420 fixes this.

[2018-09-28 17:44] #50 closed

[2018-09-28 17:47] mradamcox commented on #52
@pascalflohr new output:
![image](https://user-images.githubusercontent.com/10427268/46224679-a6d0c300-c31c-11e8-99c1-7270f03ed29d.png)
not deployed yet but will be soon.

[2018-10-01 14:31] azerbini commented on #32
@TeriForey could you please rereference 0bc2c68 as it has nothing to do with this issue. Also, have you experimented with removing   Resource().get()  ? I am happy for you to go ahead with that.

[2018-10-01 15:36] TeriForey commented on #32
@azerbini Oops! I've changed the commit message but I'm afraid it's cached the previous message now - sorry about that!

I've updated the PR with the Resource.get() - actually the whole loop - removed.

[2018-10-02 17:00] mradamcox commented on #53
This is now fixed. Originally the validation was not recognizing multiple columns with the same name.

[2018-10-02 17:00] #53 closed

[2018-10-02 17:03] mradamcox commented on #45
https://github.com/azerbini/eamena_dev/commit/b42f2c1eacd9033b3638ab4510804c3ed6742c8d

[2018-10-02 17:15] mradamcox commented on #45
![image](https://user-images.githubusercontent.com/10427268/46364933-d0e7f500-c63c-11e8-8e2f-d109869a6b1e.png)
This has been deployed to the Al Ula server.

[2018-10-10 14:11] azerbini opened #61 "Bulk upload validator does not flag up intersecting polygons"
### Bug Report

The Excelreader validator does not check for intersecting polygons, which cause the Elasticsearch index of a resource with an intersecting polygon to fail.

#### Expected Behavior

Excelreader's `validate_geometry` method should be changed to flag up intersecting polygons and return a validation error if this is the case.

[2018-10-10 14:30] #61 closed

[2018-10-11 07:10] pascalflohr opened #63 "Bulk upload - number "1" shown as "unknown""
### Bug Report
When the feature form and interpretation number is "1" in the bulk upload file, it is shown as "Unknown" in the database.

Like in this example:

<img width="823" alt="screen shot 2018-10-11 at 10 08 59" src="https://user-images.githubusercontent.com/43570914/46786501-bc42e580-cd3d-11e8-8078-d84f92e15eea.png">

[2018-10-11 07:13] pascalflohr opened #64 "Order of Function Type and Function Type Certainty"
Once entered, Function Type and Function Type Certainty are shown in the wrong order. Function Type should come first, followed by Function Type Certainty, as this is more clear.

<img width="823" alt="screen shot 2018-10-11 at 10 08 59" src="https://user-images.githubusercontent.com/43570914/46786629-1f347c80-cd3e-11e8-9289-d756a17e1fdf.png">

[2018-10-13 15:25] mradamcox commented on #63
https://github.com/azerbini/eamena_dev/commit/820659f50d8f5914775eb3fa53a5b8e75f6476d1 fixes this. Thanks @azerbini for the tip on where the issue was. The change is deployed to the staging server, @pascalflohr could you test and close this issue when you can confirm the fix? Thanks.

[2018-10-13 15:40] mradamcox commented on #64
Hi @pascalflohr, I'm trying this out in the E27 Archaeological Assessment form, and it looks like the order is correct:
![image](https://user-images.githubusercontent.com/10427268/46907146-d0205000-ced3-11e8-90ed-7b6779438573.png)
Is there somewhere else I should look for this error?

[2018-10-13 15:54] pascalflohr commented on #64
Hi @mradamcox, in that case it seems that the wrong order only occurred when the data came in through a bulk upload. Is there a way to correct this?

[2018-10-16 14:36] pascalflohr opened #65 "Error when making E24 via wizard from E27"
<img width="1250" alt="screen shot 2018-10-16 at 17 34 08" src="https://user-images.githubusercontent.com/43570914/47024174-df203000-d169-11e8-8eb3-5f3773e806be.png">

When following the Related Heritage Resource wizard to add a new Heritage Feature E24 to a Heritage Place E27, I got the above error after saving. The E24 record seems to have been produced nonetheless and looks fine except there is

[2018-10-16 14:42] pascalflohr opened #66 "Relevant fields for Al Ula in Related Heritage Features wizard"
For the Al Ula database, it is more relevant to have a section in the wizard with the Archaeological Assessment (with Feature Morphology/Form and Interpretation fields) instead of Condition.

[2018-10-16 14:46] pascalflohr opened #67 "E24 Feature Morphology/Form 'Add' button does not work"
When pressing the 'Add' button for the E24 Feature morphology fields, nothing happens.

<img width="759" alt="screen shot 2018-10-16 at 17 44 59" src="https://user-images.githubusercontent.com/43570914/47024950-599d7f80-d16b-11e8-80b3-555d03606fe2.png">

[2018-10-16 19:49] mradamcox commented on #64
Ah, ok, I think I see what's going on. @azerbini I'm guessing that this has to do with the multiple columns with the same name situation we discussed. It seems as though certainty is in the first group, and type is in the second, like this (the red scribbles indicating filled in attributes):
![image](https://user-images.githubusercontent.com/10427268/47043142-809b8780-d152-11e8-9947-36da1ab687ef.p

[2018-10-17 15:10] pascalflohr commented on #64
[E27_Al Ula 3726-31 - AS SUDAYD_cleaned.xlsx](https://github.com/azerbini/eamena_dev/files/2488046/E27_Al.Ula.3726-31.-.AS.SUDAYD_cleaned.xlsx)

@mradamcox for example this one

[2018-10-17 15:14] pascalflohr commented on #67
@mradamcox because of this, currently unable to add the Archaeological Assessment to any of the E24s (except I assume through bulk upload)

[2018-10-17 17:01] pascalflohr commented on #67
Actually, John has now managed to do this - not sure when it does and doesn't work, or perhaps it got fixed in the meantime. Will test further.

[2018-10-17 17:58] mradamcox commented on #67
@pascalflohr When I'm testing this locally, it seems like it works when I add the "Identified By" attribute (click on the pencil, then enter a name). I _believe_ that is the desired validation (that everything be filled out) but a red error message should show up, like normal.

[2018-10-17 18:25] pascalflohr commented on #67
@mradamcox thanks for that - I think it should work like in the E27, that "identified by" is assigned automatically to logged in person unless specifically entered differently

[2018-10-17 21:31] mradamcox commented on #67
Ok, sounds good. The fixes are applied for this, so you can test it out.

[2018-10-17 22:26] mradamcox commented on #64
@pascalflohr and @azerbini, after testing with Pascal's excel file I realized I was wrong in my initial theory. Turns out that the resource itself is correctly constructed, but the nodes that are iterated during this display process are not passed to the template in the same order every time. I fixed it with separate iterations that look for each node in turn.

[2018-10-18 05:12] pascalflohr opened #69 "unable to upload images"
When uploading images, either directly in the Information Resource or in the Heritage Resource, the image is not uploaded. When doing this in the Heritage Resource, no information resource is produced at all.

[2018-10-18 05:59] pascalflohr commented on #67
This is working now, thanks!

[2018-10-18 06:00] pascalflohr commented on #63
The bulk uploads were unloaded and partly reloaded by @azerbini and the interpretation numbers 1 have gone is OK now.

[2018-10-18 06:01] #67 closed

[2018-10-18 06:02] pascalflohr commented on #69
This is in the Al Ula database - quite high priority for me, as I am currently training people in this

[2018-10-18 07:41] pascalflohr commented on #69
There also seems a problem with indexing, it seems not possible to find back information resources that have been made, the search shows 0. I am in the middle of giving training so cannot check what the problem is exactly - @mradamcox could you look into this as Andrea is on holiday?

[2018-10-18 11:33] pascalflohr commented on #69
I have looked into this issue more. Creating an information resource from scratch via Resource Manager - Information Resource is fine and the record can be found back and edited etc., until an image (or presumably any attachment) is added. This does not work, the image is being loaded, a red cross appears, and the screen goes back to what it was like before, without any image showing. After this,

[2018-10-18 14:15] mradamcox commented on #69
Ok, I found a setting that was not configured correctly for file uploading and updated it. @pascalflohr could you test again?

[2018-10-18 15:29] pascalflohr commented on #69
Thanks - I have now also been able to add a file to the record without problems, great!

Is there a way to get to those five 'lost' records and edit or delete them? (INFORMATION-0000001 to 5).

When I click on the Information resource in the search I get the following, but I think that must just be the report page not being ready yet, so a different issue (and for now we can go directly to edit):

[2018-10-19 16:17] mradamcox commented on #69
@pascalflohr I'll see what I can do about deleting these resources. You're correct that the report template is just not ready yet, and that's causing the error above.

[2018-10-20 11:37] pascalflohr commented on #66
To clarify, so to have these fields in the wizard, step 4:
![screen shot 2018-10-20 at 14 35 17](https://user-images.githubusercontent.com/43570914/47255179-93290000-d475-11e8-8f8d-e0d7e48d4c0e.png)

instead of the condition assessment fields that are currently there:
![screen shot 2018-10-20 at 14 36 12](https://user-images.githubusercontent.com/43570914/47255183-9de39500-d475-11e8-8ae5-218f3d0d7

[2018-10-20 11:43] pascalflohr opened #70 "Error when entering E27 Interpretation fields - cause unknown"
When entering Interpretation fields in the E27 Archaeological Assessment, we kept getting the following error:

![screen shot 2018-10-20 at 12 54 11](https://user-images.githubusercontent.com/43570914/47255221-0af72a80-d476-11e8-8122-7486b0683e0d.png)

It seemed to be caused by entering the following:

![screen shot 2018-10-20 at 12 57 22](https://user-images.githubusercontent.com/43570914/4725522

[2018-10-20 11:47] pascalflohr commented on #45
This is working very well. Is it also possible to have this added to the E24 wizard?
![screen shot 2018-10-20 at 14 46 40](https://user-images.githubusercontent.com/43570914/47255275-fcf5d980-d476-11e8-8f64-0fd9c2b97ce6.png)

(but lower priority at the moment I think)

[2018-10-20 11:49] pascalflohr opened #71 "Add Feature Name to Related Heritage Features overview in E27"
If at all possible, could the name field be added, in addition to the IDIHA-F-number, in the Related Heritage Features overview in the E27? This would make it more clear to users which one they want to select.

![screen shot 2018-10-20 at 14 47 51](https://user-images.githubusercontent.com/43570914/47255292-5a8a2600-d477-11e8-99c3-232a12ddc3ea.png)

[2018-10-20 11:53] pascalflohr opened #72 "Related Heritage Features not showing up after clicking 'Add' and 'Cancel'"
In the E27 Related Heritage Features tab, the related heritage features are no longer showing up after clicking 'Add' but then 'Cancel'. This is solved by navigating to a different tab and then back to Related Heritage Resources, but this is confusing to the non-experienced user.

![screen shot 2018-10-20 at 14 50 23](https://user-images.githubusercontent.com/43570914/47255322-ca98ac00-d477-11e8-8

[2018-10-20 15:23] pascalflohr commented on #70
This happened again: the fields had been saved without problem before. I then attempted to edit the "identified by" field and saved, but got an error.

original:
![screen shot 2018-10-20 at 18 21 03](https://user-images.githubusercontent.com/43570914/47257340-055d0d00-d495-11e8-956e-9e4dedf645d9.png)

changed to:
![screen shot 2018-10-20 at 18 22 20](https://user-images.githubusercontent.com/43570

[2018-10-20 15:24] pascalflohr commented on #70
on third attempt, saved without problem

[2018-10-22 09:48] pascalflohr commented on #66
After doing more data entry with the Al Ula survey team, it would be very useful to have the following steps and fields in the Related Heritage Feature wizard steps

<img width="837" alt="screen shot 2018-10-22 at 12 36 49" src="https://user-images.githubusercontent.com/43570914/47286399-37868000-d5f7-11e8-96d4-27fcdcc7481b.png">

1. Location, as it is, but with the option to enter (UTM) coordinat

[2018-10-22 09:52] pascalflohr opened #73 "Rename E24 "Cultural Period" to "Cultural Period and Interpretation""
In the E24 Heritage Feature Archaeological Assessment tab, the Cultural Period and Interpretation group is currently names "Cultural Period" only. Please rename as "Cultural Period and Interpretation".

<img width="858" alt="screen shot 2018-10-22 at 12 50 27" src="https://user-images.githubusercontent.com/43570914/47286977-5d148900-d5f9-11e8-9bf6-53dc4c8cdfba.png">

[2018-10-22 09:54] pascalflohr opened #74 "Rename E24 "Cultural Period" as "Cultural Period and Interpretation""
In the E24 Heritage Feature Archaeological Assessment tab, the Cultural Period and Interpretation group is currently named only "Cultural Period". Please change to "Feature Cultural Period and Interpretation".

<img width="858" alt="screen shot 2018-10-22 at 12 50 27" src="https://user-images.githubusercontent.com/43570914/47287051-9ea53400-d5f9-11e8-87b1-c23a3252bffe.png">

[2018-10-22 09:56] pascalflohr commented on #65
No problems with this anymore over the last few days

[2018-10-22 09:56] #65 closed

[2018-10-22 10:01] pascalflohr commented on #65
No problems anymore with this over the last days

[2018-10-22 10:02] pascalflohr commented on #66
test

[2018-10-22 10:07] pascalflohr opened #75 "Request: open Heritage Feature in new window"
In the E27 Heritage Place - Related Heritage Features tab, an overview is given of the related heritage features and one can click on these to navigate to the E24 Heritage Feature record. Could this please automatically open in a new window?

![screen shot 2018-10-20 at 14 47 51](https://user-images.githubusercontent.com/43570914/47287590-71f21c00-d5fb-11e8-80e6-8d80b23dbb0c.png)

[2018-10-22 14:17] #73 closed

[2018-10-23 09:46] pascalflohr commented on #71
To add Feature Name here if possible:

![screen shot 2018-10-20 at 14 47 51](https://user-images.githubusercontent.com/43570914/47351933-a92b0080-d6c1-11e8-91f9-1d63e417f72d.png)

[2018-10-24 07:41] pascalflohr opened #76 "Location duplicate warning buffer too large"
The location duplicate warning each time a geometry is added to a record is working and very useful, but is currently indicating too many sites over a large area. Could the distance between the geometry to be added and the potential duplicates be made smaller?

Not sure what it is set at now? We are thinking 50m diameter would be good, but it might be a bit of trial and error.

[2018-10-24 07:51] pascalflohr opened #77 "More fields to be made mandatory again"
Several fields that were mandatory in v1 are not mandatory anymore in v2 (at least for Al Ula), but should be:
- [ ] Location Certainty (E27 and E24)
- [x] Overall Site Shape (E27 only)
- [x] Certainty of Geometric Extent (E27 only)
- [x] Topography (E27 only)
- [x] Disturbance Effect 1 & Disturbance Effect 1 Certainty (not sure which number these fields currently have in the RDM, as there are man

[2018-10-24 08:17] pascalflohr opened #78 "Mandatory (required) fields to be indicated by * in the field name"
To make data entry more smooth, could required fields be indicated by * (or similar) in the field names.

E27:
Assessment Summary:
-Assessment Summary*

Resource Summary:
-Resource Name(s)
-Heritage Classification*
-Designation
-Resource Description

Location:
-Grid ID
-Overall Site Shape*
-Certainty of Geometric Extent*
-Topography*

Archaeological Assessment:
-Overall Archaeological Certainty*
-

[2018-10-24 21:04] mradamcox commented on #76
@pascalflohr, it looks like it is set at 1km right now https://github.com/azerbini/eamena_dev/blob/alula-stable/eamena/eamena/settings.py#L280. I will change this to 50m for now, and let me know in a few days if you want it changed again. It's a very simple thing to update, but I'll have to do it from my end at this point.

[2018-10-24 21:22] mradamcox commented on #77
I was unable to figure out how to make an error get thrown if a point is added without a Location Certainty attribute, because of the underlying way those nodes are included in this form. @azerbini do you have any thoughts on how to accomplish this?

[2018-10-24 21:24] mradamcox commented on #75
@pascalflohr could you check this out and close if it's satisfactory? I made the same change to the E24 component wizard for the sake of consistency.

[2018-10-24 21:26] mradamcox commented on #45
Ok, I'm going to close this ticket because #66 captures the above comment.

[2018-10-24 21:28] mradamcox commented on #19
I'm closing this, as our current validation tools do allow for all of this functionality, and I don't think a big validation refactor is going to be a high priority soon.

[2018-10-24 21:28] #19 closed

[2018-10-24 21:30] mradamcox commented on #77
@pascalflohr could you check all of the ones that I completed to make sure every thing is ok? You'll likely need to do a "hard refresh" of your browser, so that some of the javascript logic files update correctly. Use ctrl + F5.

[2018-10-25 09:02] azerbini commented on #77
@mradamcox I am working on this ticket, should have a commit ready soon for Location Certainty

[2018-10-28 13:45] #74 closed

[2018-10-28 14:02] #75 closed

[2018-10-28 14:04] pascalflohr commented on #71
excellent, this will make the users very happy

[2018-10-28 14:04] #71 closed

[2018-10-30 15:48] azerbini opened #80 "Remove CRS dropdown from E24 wizard"
This is a redundant node that needs to be removed
<img width="727" alt="screen shot 2018-10-30 at 17 48 02" src="https://user-images.githubusercontent.com/19243127/47731044-03046b00-dc6c-11e8-9907-73656a0be788.png">

[2018-11-05 23:39] mradamcox commented on #77
I have tested this and it works as desired. Thanks @azerbini!

[2018-11-05 23:39] #77 closed

[2018-11-06 19:50] mradamcox commented on #69
@pascalflohr I have reindexed the database, and it seems to have solved this issue of the leftover resources:

![image](https://user-images.githubusercontent.com/10427268/48089704-b7514480-e1ca-11e8-8273-e5eb32e25c2f.png)

I'm going to close this ticket (the original issue has been addressed), so if you still find issues along these lines, please open up a new ticket.

[2018-11-06 19:50] #69 closed

[2018-11-18 14:21] pascalflohr opened #81 "Disturbance Category to not be required"
The Disturbance Category field has been made required (during the making of more fields required/mandatory again issue), but should be optional.

<img width="707" alt="screen shot 2018-11-18 at 17 19 52" src="https://user-images.githubusercontent.com/43570914/48673787-36913180-eb56-11e8-882b-fd1f3d37f560.png">

So Disturbance Cause and Effect, Effect 1 and Effect 1 certainty, and Date should be re

[2018-11-18 14:25] pascalflohr opened #82 "Request: showing more search results per page"
This is not a high priority, but for the Al Ula database, could more (e.g. 20) results per page be shown for the search results, like in the EAMENA database? Currently only 5 are shown.

<img width="931" alt="screen shot 2018-11-18 at 17 24 10" src="https://user-images.githubusercontent.com/43570914/48673854-eb2b5300-eb56-11e8-90b7-43072346bf1b.png">

[2018-11-19 08:01] pascalflohr commented on #70
This problem occurred again today, after editing the existing interpretation and saving. When deleting the previous entries and entering new ones the problem did not occur.

[2018-11-19 08:12] pascalflohr opened #83 "Non-required fields flagged as being required after clicking in the field"
### Bug Report
At times, when clicking on or going into a non-required field, and then deciding not to enter information, the record cannot be saved and a notice appears requesting all required fields to be entered, even though all required fields have in fact been filled in. Examples are when going into Disturbance Effect 2, or Interpretation Function 2. It does not always happen, when I tried to

[2018-11-19 09:01] pascalflohr opened #84 "Double Feature records created"
### Bug Report
When using the 5-step wizard to create a E24 Feature from a E27 Heritage Place, two identical records are created (with two different IDIHA-F-numbers). This is the first time this happened, but it happened so far twice for the same record. Will test and report if it happens in other records too.

<img width="1211" alt="screen shot 2018-11-19 at 11 52 00" src="https://user-images.git

[2018-11-19 09:12] pascalflohr commented on #84
Repeated with different Heritage Place record, only one feature was recorded - so the bug only occurs sometimes, so far in one record. Unknown why.

[2018-11-19 17:24] mradamcox commented on #82
@pascalflohr I have fixed this. There was an issue with how the settings were being imported to configure the app, once I fixed that, the standard of 20 (for EAMENA) kicked in.

[2018-11-19 17:24] #82 closed

[2018-11-19 18:12] pascalflohr commented on #82
excellent

[2018-11-20 11:48] pascalflohr opened #85 "Not possible to remove Information Resource Additional Information"
In an Information Resource, it currently does not appear possible to remove or edit an added "Additional Information" text once this has been entered.

In the screenshot, I would like to remove the Arabic text. The text might have been added when creating the information resource from a Heritage Place E27 record, but currently the Information Resource is not showing Related Resources.

<img width=

[2018-11-20 12:45] pascalflohr opened #86 "Information Resource - Shared Data tab not there"
In the Al Ula v2 database, the Information Resource - Shared Data tab is not there:

<img width="1171" alt="screen shot 2018-11-20 at 15 43 23" src="https://user-images.githubusercontent.com/43570914/48774392-32dae780-ecdb-11e8-9e45-29edad659da6.png">

[2018-11-21 18:56] pascalflohr commented on #70
continues, might be either occur when many values are entered, or when "Unknown" is entered (but not sure either of these is the actual cause). Managed to save after three attempts.

<img width="1216" alt="screen shot 2018-11-21 at 21 31 30" src="https://user-images.githubusercontent.com/43570914/48862682-1f617680-edd8-11e8-950d-7406221ed35e.png">

when attempting to enter the following:

<img wid

[2018-11-27 10:33] pascalflohr opened #88 "Read and Edit user groups do not have access to Map View"
Currently the read, edit, and I think even Edit-plus user groups do not have access to the Map View. To access this it seems Superuser status is needed, or the permission can be assigned individually.

Can Map View be added to all the groups?

[2018-11-27 14:19] azerbini commented on #88
This has now been taken care of. Pls remove superuser status to all but the administrators. @pascalflohr

[2018-11-27 14:19] #88 closed

[2018-11-27 14:20] pascalflohr commented on #88
thanks! will do

[2018-11-27 14:35] azerbini commented on #85
Closing this as it has been addressed @pascalflohr

[2018-11-27 14:35] #85 closed

[2018-11-27 15:02] #86 closed

[2018-11-29 17:24] mradamcox commented on #24
Because Soroush and Haris have been using our test deployment of this endpoint, and it's been working well, I am going to close this ticket now.

[2018-11-29 17:24] #24 closed

[2018-11-29 17:25] mradamcox commented on #76
@pascalflohr have you been able to test this out yet?

[2018-11-30 10:00] pascalflohr commented on #76
@mradamcox yes and it looks good now, fewer duplicate warnings coming up for each site so now restricted to the relevant ones only

[2018-11-30 10:00] #76 closed

[2018-12-04 11:26] pascalflohr opened #89 "Designation fields error for some records only"
When filling in the Designation fields in E27 Resource Summary, in most cases there is no problem and both date fields are optional (as they should be). However, in at least one record, both date fields are suddenly requested:

<img width="849" alt="screen shot 2018-12-04 at 11 24 20" src="https://user-images.githubusercontent.com/43570914/49438862-6af02900-f7b7-11e8-8a74-738ec6987de0.png">

This

[2019-01-14 12:51] pascalflohr opened #90 "Bulk upload - missing geometries not flagged up during validation"
When validating bulk uploads (at least for E24 feature) two missing lines of geometry were not flagged up.

[2019-01-14 12:51] pascalflohr commented on #90
In the Al Ula database, but presumably the same in EAMENA v2

[2019-01-15 15:08] mradamcox commented on #90
@pascalflohr could you be more specific about missing? One big drawback of the bulk upload validation is that it does not check for fields that are "required" through the input forms. So that could be related to what you're seeing with the geometry (or not!). Just wanted to check that first...

[2019-01-15 15:14] pascalflohr commented on #90
@mradamcox yes that could be it. It is when the complete line is missing. I had understood that we should always put 'x'es as placeholders, so that other values cannot shift into these places. If this is not flagged up, people might miss this. In this case, would the geometries of line 51 shift to other records, or would the geometries simply be empty? In the latter case it is not such a problem,

[2019-01-15 15:56] mradamcox commented on #25
This is now completed, and is currently in the `eamena-herbridge-endpoint` branch.

[2019-01-15 15:56] #25 closed

[2019-01-15 17:11] mradamcox commented on #26
This is now completed, or superceded to be more specific, by the completion of #25.

[2019-01-15 17:11] #26 closed

[2019-01-15 18:01] mradamcox commented on #90
@pascalflohr yes, I see now, indeed I think this empty cells should have been caught. I'll look into it. Thanks for the screenshot.

[2019-01-15 20:36] mradamcox commented on #90
@pascalflohr I have pushed a fix to the al-ula server which will hopefully address this. Can you please test it whenever you get a chance? thanks!

[2019-01-15 21:54] pascalflohr commented on #90
@mradamcox the bulk upload validation now seems to get stuck after testing the headers:

<img width="1123" alt="screen shot 2019-01-15 at 21 53 09" src="https://user-images.githubusercontent.com/43570914/51212303-1096cc00-1910-11e9-9289-7f88a4261889.png">

not going further after this

[2019-01-16 12:36] pascalflohr opened #91 "Finds fields - Assessment type"
In Finds - Assessment Summary, the Assessment Type field is currently linked to "Type of Activity" but it should be linked to "Assessment Type" (ASSESSMENT_ACTIVITY_TYPE.E55)..

current situation:
<img width="838" alt="screen shot 2019-01-16 at 12 31 45" src="https://user-images.githubusercontent.com/43570914/51249391-0665e380-198b-11e9-8463-80c9c5c6d6fc.png">

should link to:
<img width="1184" al

[2019-01-18 08:53] pascalflohr commented on #90
@mradamcox any news on this? Would it be possible to set it back to the previous state please, as we cannot validate or load at the moment?

[2019-01-18 16:33] mradamcox commented on #90
Ok, I think I have the right fix now. Sorry about the delay.

[2019-01-18 16:33] pascalflohr commented on #90
excellent news, many thanks!

[2019-01-18 17:02] pascalflohr commented on #90
@mradamcox unfortunately my bulk upload still does not seem to get through, it checks the headers, but afterwards the wheel just keeps spinning without anything happening.

[2019-01-18 17:08] mradamcox commented on #90
hm, would you be able to send me the file you are trying to upload? e-mail or attaching here, whatever works for you.

[2019-01-18 17:09] pascalflohr commented on #90
here is one

same problem for E27s and with several different files

[2019-01-18 17:12] mradamcox commented on #90
Ah, it has to do with arabic characters that I didn't have in my test file I was using locally. Sorry about that. I'll post a fix soon.

[2019-01-18 17:43] mradamcox commented on #90
Fix applied.

[2019-01-18 17:45] pascalflohr commented on #90
excellent, that is all working again and blanks are being flagged up. Thank you @mradamcox!

[2019-01-18 17:45] #90 closed

[2019-02-07 16:58] mradamcox opened #98 "Allow import of resources that already have a value for EAMENA_ID nodes"
### User Story
When moving resources from one installation to another, and also for general longevity, we need to alter the EAMENA functionality that creates unique ids in such a way that it will not run during import if the imported resources already have an EAMENA ID.

Notes:

If a user attempts to import a resource with an EAMENA ID that matches an existing ID in the database. I think the impor

[2019-02-12 17:19] NicholeSheldrick opened #99 "Feature Interpretation bugs"
EAMENA v2 Database, Heritage Place (E27) Archaeological Assessment Tab, Feature Interpretation Group:

When creating an entry with multiple Function Types, the associated certainties appear in the wrong order.

After pressing Save, if either the Function Type or Certainty Type is the same, it deletes one of the entries.

[2019-02-26 14:34] pascalflohr opened #102 "Al Ula database should not be accessible without logging in"
In contrast to the EAMENA database (and the various training databases) the Al Ula database should only be accessible after logging in. So the log in screen should appear before anything else is visible.

[2019-03-06 13:58] pascalflohr commented on #91
This is still outstanding - the level cannot be used without this issue solved...

[2019-03-07 10:58] pascalflohr commented on #89
This specific record worked at a later date (Feb 2019) and the issue might now be completely solved after Mike has worked on it.

[2019-03-07 11:03] #89 closed

[2019-03-07 11:05] pascalflohr commented on #102
This has now been addressed by @michaeltfisher. We now have only one level (editplus) that can access the search and map view, something that needs to be extended to the read and edit levels at some point (separate issue).

[2019-03-07 11:05] #102 closed

[2019-03-07 11:14] pascalflohr opened #108 "User permission levels"
The user permission levels should be adjusted.

For the Al Ula database:
-nothing visible without logging in (completed)
-"read" level: search, map view, record view of records
-"edit level: search, map view, record view of records, editing of records, creating new records, deleting records
-"edit plus": search, map view, record view of records, editing of records, creating new records, deleting r

[2019-03-11 20:56] mradamcox commented on #108
@pascalflohr I was looking into this, and one thing I found is that the `anonymous` User (there is an actual user called `anonymous` that is assigned to anyone who isn't logged in) had been given "read" permissions, i.e. that user had been added to the "read" group. I have tried removing that user from the read group, and made a few small changes along the lines of what @michaeltfisher has already

[2019-03-12 10:07] pascalflohr commented on #108
@mradamcox many thanks for this! This all looks good. I can only not test if the "read" group can see the report view of records (which they are allowed to), because there is no data. But overall it looks like the levels work as they should do.

[2019-03-12 13:36] mradamcox commented on #108
@pascalflohr I made a test resource (you can do the same if you like). It looks like currently a user with "read" permission does not have access to the resource report. In other words, all they can see is the list of search results and the map popups. To my knowledge, this is how EAMENA has been set up for a while, but you're saying you would like 'read' to be able to view the resource reports, c

[2019-03-13 11:55] pascalflohr commented on #108
@mradamcox yes that is correct. I am not sure about the EAMENA levels, I had always understood the aim was to have similar levels to what I suggested for Al Ula, with the only difference that not-logged in users could could also see the search and map view in EAMENA. But yes, ideally "read" users in Al Ula should be able to see the report pages of records, so they can browse through them but just

[2019-03-13 11:59] pascalflohr commented on #108
@mradamcox just looked at the test records, and agree the "read" level cannot see the record view. Would be good if this level would be able to do that.

[2019-03-13 15:55] mradamcox commented on #108
@pascalflohr Ok, it looks like there are few other things that are currently only available to 'edit' users: the cursor lat/long position, and the scale bar. Should these be available to 'read' users, or remain hidden for them?

[2019-03-14 16:04] pascalflohr commented on #108
@mradamcox those can be available to 'read' users too, but it is not strictly necessary

[2019-03-19 11:46] pascalflohr opened #111 "E27 record unindexed without warning or reason"
A site record (E27), after having been edited and saved fine without any error warning, was subsequently not indexed anymore. There did not appear to be a reason for the un-indexing of the record. It seems important to flag up though, as we don't want sites to disappear from the database without warning...

The record in question is IDIHA-0007376 with arches ID fe3ff5ee-1dac-42a0-b989-be4e35d75270

[2019-03-19 11:46] pascalflohr commented on #111
This was in the Al Ula database, but might be an issue in any v2 version of the database.

[2019-03-26 01:46] mradamcox commented on #108
Ok @pascalflohr I have applied all of these changes to the alula.legiongis.com mockup installation (in a more organized and completed manner than I had before. I will wait for you to test it out once more before I apply them to the in-production Al Ula app, then we can close this ticket.

[2019-03-26 13:31] pascalflohr commented on #108
many thanks @mradamcox, all looks good. I can only not see the location on alula.legiongis.com (when I add a location the record 'breaks, Server Error 500), but I think that is just because it is the mockup.

[2019-03-26 13:36] pascalflohr opened #113 "Bulk upload imagery attachments not visible"
When attaching images to a bulk upload of Information Resources, they seem to get loaded but are not visible in the record. In the record view, nothing is visible (in some instances there was a broken image symbol). In the edit view, the following is visible:

![Screen Shot 2019-03-26 at 13 34 22](https://user-images.githubusercontent.com/43570914/55001231-0d812180-4fcc-11e9-87dc-74286792ab8c.png)

[2019-03-26 14:31] mradamcox commented on #108
@pascalflohr hmm, I'm not sure about that error but if it comes up again we'll need a new ticket. I have now merged these changes into the al ula production deployment, so if you can do some final checking whenever you have a chance, that would be great. I'll let you close this ticket when you are ready.

[2019-03-26 14:33] mradamcox commented on #108
Also, please read these notes https://github.com/azerbini/eamena_dev/pull/114 just for future reference. Thanks!

[2019-03-27 10:48] pascalflohr commented on #108
@mradamcox, I have done the final checking and everything is looking good in the al ula database. Many thanks!

[2019-03-27 10:48] #108 closed

[2019-03-29 15:23] mradamcox opened #116 "Load Resource Relations via Bulk Upload"
### User Story
We need a way to bulk upload resource relations. Ideally, this would be through the existing bulk upload interface, and could be done in two different ways: either included in a bulk upload, or separately to add relations to resources that are already in the database, preferably using the EAMENA_ID values **or** the UUIDs for the resources. Including the latter is mostly a safety ne

[2019-04-02 12:25] pascalflohr commented on #91
@mradamcox is this something you could fix or should I run this through @michaeltfisher?

[2019-04-02 13:11] michaeltfisher commented on #91
I can probably get to this later today.

[2019-04-09 18:14] mradamcox commented on #116
All good, closing this ticket now.

[2019-04-09 18:14] #116 closed

[2019-04-15 14:26] pascalflohr commented on #113
This has now improved, as the images are visible in the "other upload" tab in edit mode, but they do not show up in the information record screen (at least not in the Al Ula instance). They should be visible in both, with the information record screen image very important as that is where most people will need to see it.

When images are manually added to a record, they are visible in the informat

[2019-04-15 14:35] pascalflohr commented on #113
Or is it possible this has something to do with how the bulk upload was structured @TeriForey ?

[2019-04-15 14:49] pascalflohr commented on #113
One more remark: currently it is case sensitive, so if the file is called AU03000.JPG, but in the bulk upload spreadsheet it is called AU03000.jpg, the image will not be linked/loaded. If possible, it would be good to have this non-case sensitive, for ease of use.

[2019-04-17 10:04] pascalflohr commented on #113
@mradamcox do you have an idea? I think @michaeltfisher and @TeriForey might both be away

[2019-04-17 13:50] eamena-github opened #123 "Measurement tab in v2 database crashes when commas are used"
### Bug Report
There seems to be a glitch that when trainees add measurements and use a comma, the database tab returns a server error when trying to save, and subsequently glitches - webpage needs refreshing before it works again normally.

--> is it possible to return a warning message saying 'please use full stop' when 'wrong' punctuation is used? Arabic uses comma to indicate decimal places so

[2019-04-17 18:47] mradamcox commented on #123
This is definitely possible, and would be a great improvement. Which training database are you working on at the moment?

[2019-04-18 07:41] eamena-github commented on #123
Egypt v2 - thanks! Letty

[2019-04-18 07:44] eamena-github opened #124 "Related Heritage Place does not show up under related resources in Information Resource when photo is linked to heritage Place in v2 Egypt"
Something ike this seems to have been flagged up for heritage features, but I just created a related resource (photo) to a Heritage Place in egypt v2 training database and whereas the photo shows under the Heritage Place related resources, the Heritage Place does NOT show up under the related resources for this same photo.

[2019-04-21 08:33] eamena-github opened #125 "Arabic drop-down menus in v2 are in a different order than English drop-down menus"
The English drop-down menus are organised (sometimes) by category and then alphabetically or chronologically. They make sense. I think the Arabic drop-downs are also organised alphabetically (?), but this means the order of the values in the drop downs are completely different from the order in English. A good example is the cultural period tab in the Heritage Place - in English, this starts chron

[2019-04-21 08:44] eamena-github commented on #125
(This is also something to take on board for arches 4 development)

[2019-04-24 21:30] mradamcox commented on #125
Hi @eamena-github , this was a pretty buried issue but I think I found the issue. The fix should be deployed to the Egypt v2 app. Could you let me know if it's solved?

[2019-04-28 08:39] eamena-github commented on #125
Cool, I got some trainees to check it for me and we will let you know.
Just thinking, might be worth implementing same thing in v2 Tunis/Libya if it's worked. And of course in future v2 training clones.

[2019-04-28 08:41] eamena-github opened #128 "Egypt v2 glitches on relationships"
Also see email:
Some records are breaking on the relationship tabs. It's something that happened in v1 too but you guys managed to fix it. I will describe the problem and my attempt to fix it in detail here.

For example, EAMENA-0000038. When the student tries to open it, it returns a key error: http://egyptv2.eamena.training/reports/62202f04-3aab-4125-b20e-50715f510394 (also see screen shot). So

[2019-04-28 08:42] eamena-github commented on #128
Now on to checking other glitchy records and will update here.

[2019-04-28 08:57] eamena-github commented on #128
Ok, just checked another glitchy record which is a variety of the same problem but with another variation built in.

Egypt v2 EAMENA_0000027 - Tanis / San al Hagar. Key error, but fix described above allows me to access record - but the moment I touch the related heritage resource and related resource tabs it breaks again showing http://egyptv2.eamena.training/resources/HERITAGE_PLACE.E27/man-made

[2019-04-28 09:36] eamena-github commented on #128
Ok I think I have identified (part of) the problem. It's a duplication issue of related resources.

Final record with an issue is EAMENA-00000018. One of the related resources is EAMENA-F-0000100, but if you search on that number, there are 10 with the same number. No wonder the relationships break... the other two related heritage features here are 41 and 54, but they seem unique in the database.

[2019-04-28 10:15] eamena-github commented on #128
YES!!! All the problematic heritage places have a relationship with a record that has a related heritage feature 100.

Nourhan:
Heritage Feature Arches ID: c8b8168d-42a4-4d58-9c17-b0952fc2d93c should relate to EAMENA-0000038 (62202f04-3aab-4125-b20e-50715f510394)

Mohamed Ewwad:
Heritage Feature Arches ID: 99482bfd-7a64-45b3-91e6-4e7ea6fbb6c8 has no geometry and no relationships.
Heritage Feature

[2019-04-28 12:58] michaeltfisher commented on #128
So this is an extension of the issue we've already addressed; we just didn't realize that it had also affected Heritage Features (labelling all new records as EAMENA-F-0000100). Once we rename those records all should be well.

[2019-04-28 13:10] eamena-github commented on #128
Is it something I can help with Mike? Sorry for the long novel but I was thinking out loud...

[2019-05-06 14:05] michaeltfisher opened #129 "Al Ula bulk upload process won't write .arches file"
Al Ula users are having trouble using the bulk upload page, especially following commit 50eb432cb32a0244133cf22b7ffaf14e4a50d684. After pushing that commit, Information Resource and Relations uploads stopped working. After reverting the commit, Relations uploads would validate, but Heritage Place and Heritage Feature uploads stopped working.

The point of error seems to generally be during the .ar

[2019-05-06 22:07] mradamcox commented on #91
@pascalflohr I'm pretty sure this has been fixed, right?

[2019-05-07 01:09] mradamcox commented on #129
Ok, there are a few things going on here. First, indeed the extra .arches file validation did not play well with the relations loading, but that was an easy thing to fix.

Second, I found that in the Al Ula database there was somehow a missing EntityTypes object, PROJECTION_TYPE_AUTHORITY_DOCUMENT.E32. I don't understand how, but it was deleted at some point, and this was causing an error when I t

[2019-05-07 01:29] mradamcox opened #130 "Type of Recommendation in E27 Condition Assessment Fails"
### User Story
While doing some recent testing I found that I got an error while entering data into the Al Ula database in the E27 Condition Assessment form, specifically in the Type of Recommendation fields.

![image](https://user-images.githubusercontent.com/10427268/57265493-995f8200-703d-11e9-819f-7789b6acb313.png)

[2019-05-07 01:34] mradamcox commented on #99
@michaeltfisher Just looking through tickets now, and this one presumably has the exact same cause as the issue with multiple Effects and Effect Certainties that I encountered while trying to migrate v1 to v2.

[2019-05-07 04:53] mradamcox commented on #129
@pascalflohr can you test these problems out and see what works and what doesn't? After doing a good deal of maintenance and under-the-hood reconfigurations, both information resources and relations loaded for me.

[2019-05-07 05:19] mradamcox commented on #111
@pascalflohr I just reindexed everything and then double-checked this resource and it seems to have indexed just fine.

We'll see if it disappears again! I'm not really sure what could have caused this. In some cases if a bad values is entered for a resource that is not caught by validation the indexing can fail and the resource could be "lost" until some measure is taken to retrieve it... doesn't

[2019-05-07 08:46] pascalflohr commented on #111
Thanks @mradamcox ! Yes, we will just have to wait and see if something like this happens again...

[2019-05-07 08:46] #111 closed

[2019-05-07 08:47] pascalflohr commented on #91
@mradamcox that is right, @michaeltfisher has fixed this

[2019-05-07 08:47] #91 closed

[2019-05-07 09:20] pascalflohr commented on #129
@mradamcox thank you for looking into this. At the moment I am not getting beyond step 1. I click on attach file, attach a file, which appears to load, but subsequently I cannot click on step 2:

![Screenshot 2019-05-07 at 10 18 26](https://user-images.githubusercontent.com/43570914/57288595-ad44cb80-70b1-11e9-8d00-51b6066d526d.png)

In this case I was attaching a E24 upload, but I don't think it

[2019-05-07 13:45] mradamcox commented on #129
@pascalflohr  Ah ok I see, I had reconfigured some things on the server and there was a lingering permissions issue. It should work fine now. Thanks for testing.

[2019-05-07 13:46] mradamcox commented on #129
In this case you must have been trying to upload a file that you had uploaded in the past, and it was failing because it didn't have sufficient permission to overwrite the existing file on the server.

[2019-05-07 15:33] pascalflohr commented on #129
@mradamcox thank you, that is all working well now! At least E24 upload including a relations tab has gone in correctly without problems. Indeed I was using a file that I had validated in the past. I have not yet been able to test a separate relations upload or information resource upload with attached images, will try those soon I hope.

[2019-05-07 15:40] michaeltfisher commented on #129
An E27 file and a Relationships file also validated, and so it looks like this particular issue is resolved.

[2019-05-07 15:40] #129 closed

[2019-05-07 15:42] pascalflohr commented on #129
And even an information resource one also validated succesfully, so most definitely resolved.

[2019-05-09 13:41] michaeltfisher commented on #113
@mradamcox, @TeriForey : following the May 7th commits to the AlUla-Stable branch (including PR #131), all Resource types can validate successfully during a bulk upload, but Information Resource uploads won't accept file attachments. This plays out slightly differently depending on the file(?), it seems, but in all cases the expected result is not achieved.

![Screen Shot 2019-05-09 at 14 34 27](h

[2019-05-09 17:06] mradamcox commented on #113
@michaeltfisher Al Ula is now, post May-7th, on the `eamena-core-arches3` branch, so the `alula-stable` branch is deprecated.
Are you able to provide an example file that didn't work on upload? I did try it from my end with the 10 Aden infor resources and that worked, but I'll try again now.

[2019-05-10 14:30] michaeltfisher commented on #113
Yeah, I just tested it again with a new batch and it works perfectly. Not sure what the difference would be (other than human error), but we'll monitor it and see if anything jumps out going forward. Until then, case closed. Thank you @mradamcox

[2019-05-10 14:30] #113 closed

[2019-05-20 08:54] pascalflohr opened #132 "Information Resources export issue in V2 instances"
Exporting Information Resources from both the EAMENA and Al Ula v2 databases gives an error; it works fine in EAMENA v1.

In Al Ula there is a Server Error (500) when exporting to csv. When exporting to shp it appears to work, but the zipfile only contains a resource_relationships file, not the actual shapefile.

In EAMENA v2, the following error occurs (exporting to csv):
<img width="1105" alt="S

[2019-07-01 20:19] mradamcox opened #137 "Bulk Upload "Append" fails with `IndexError('list index out of range',)`"
### User Story

In fixing another issue with bulk upload, I found that I was unable to load the attached file with Append as a configuration in step 2. The printout in the console is

[code]

[v2.2_E27_UPLOAD TEMPLATE_Heritage Place_2.xlsx](https://github.com/azerbini/eamena_dev/files/3347192/v2.2_E27_UPLOAD.TEMPLATE_Heritage.Place_2.xlsx)

This error should be handled better, because currently th

[2019-07-17 09:08] pascalflohr commented on #132
This has been solved for the Al Ula instance at least.

[2019-07-17 09:08] #132 closed

[2019-07-17 09:12] pascalflohr opened #138 "V2 instances: search group functionality does not work"
In the V2 instances the group functionality in the search does not work. It is possible to select a group, but subsequently no search suggestions are given during searching:

<img width="910" alt="Screenshot 2019-07-17 at 10 11 59" src="https://user-images.githubusercontent.com/43570914/61363150-69253280-a87b-11e9-9984-189f03c6d2bb.png">

[2019-07-17 09:14] pascalflohr commented on #84
This issue has so far not occurred again.